<html>
  <head>
    <title>Dan's Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Dan's Django Girls Blog</a></h1>
    </div>

    <div>
      <p>published: 27.08.2018, 16:56</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
      <p>published: 27.08.2018, 16:58</p>
      <h2><a href="">My second post</a></h2>
      <p>Cat ipsum dolor sit amet, meeeeouw so i just saw other cats inside the house and nobody ask me before using my litter box the fat cat sat on the mat bat away with paws. Snuggles up to shoulders or knees and purrs you to sleep. Floof tum, tickle bum, jellybean footies curly toes hit you unexpectedly stare at the wall, play with food and get confused by dust it's 3am, time to create some chaos . Be superior sleep on my human's head twitch tail in permanent irritation. Fall over dead (not really but gets sypathy) please stop looking at your phone and pet me. Chew iPad power cord ccccccccccccaaaaaaaaaaaaaaatttttttttttttttttssssssssssssssss leave fur on owners clothes. Meow loudly just to annoy owners mewl for food at 4am when owners are asleep, cry for no apparent reason. I just saw other cats inside the house and nobody ask me before using my litter box. Destroy couch as revenge mice.</p>
    </div>
  </body>
</html>
